body {
	font-family:monospace;
}

div {
	text-align:center;
}

#charDiv {
	margin-top:10%;
	font-size:50;
}

#rCharDiv {
	margin-top:10%;
	font-size:50;
}

a {
	padding-right:50;
	padding-left:50;
	text-decoration:none;
	color:black;
	font-size:small;
}

#scoreDiv {
	font-size:small;
}