body {
	font-family:monospace;
}

div {
	text-align:center;
}

#imgDiv {
	margin-top:10%;
}

#rImgDiv {
	margin-top:10%;
}

a {
	padding-right:50;
	padding-left:50;
	text-decoration:none;
	color:black;
	font-size:small;
}

#scoreDiv {
	font-size:small;
}

